.cartDropdown {
    position: absolute;
    width: 30%;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .cartItems {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    button {
        margin-top: auto;
    }


}