.cartDropdown {
    position: absolute;
    width: 266px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .empty-message {
        font-size: 18px;
        margin: 100px auto;
    }

    .cartItems {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    button {
        margin-top: auto;
    }


}